.banner {
    background-image: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: $heading-text-color;
    a {
        color: $heading-text-color;
    }
}