.contacts {
    a {
        color: $heading-text-color;
    }
    &__item {
        font-size: 1.17rem;
    }
}

@media screen and (max-width: 1024px) {
    .contacts {
        &__item {
            font-size: $secondary-text-size;
            line-height: 1.18rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .contacts {
        &__item {
            font-size: 0.73rem;
            line-height: 1.04rem;
        }
    }
}