@mixin buttons($line-color, $text-color) {
    display: block;
    margin: 0 auto;
    max-width: 312px;
    height: 60px;
    border: 2px solid $line-color;
    border-radius: 30px;
    color: $text-color;
    line-height: 56px;
    font-size: 20px;
    font-weight: 600;
}

@mixin menu-item-label($bg-color, $label-word) {
    content: $label-word;
    position: absolute;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: $bg-color;
    top: -29px;
    left: -29px;
    line-height: 58px;
    text-align: center;
    font-size: 0.47rem;
    color: $heading-text-color;
    font-weight: 600;
}

@mixin socials-icons($icon) {
    content: "";
    background-image: $icon;
    display: inline-block;
    width: 50px;
    height: 50px;
}